.wrap {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    height: 650px;
  }
}

.title {
  margin-bottom: 24px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.meta {
  position: relative;
}

.thumb {
  color: tomato;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    width: 276px;
    height: 343px;
    background-image: url('./assets/images/contacts/contacts-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      .hero {
        background-image: url('./assets/images/hero/contacts-tablet@2x.jpg');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    width: 477px;
    height: 650px;

    background-image: url('./assets/images/contacts/contacts-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      .hero {
        background-image: url('./assets/images/hero/contacts-desktop@2x.jpg');
      }
    }
  }
}
